/*
#393B3B for Black
#EBE4D1 for White
#FFCD00 for Yellow
#9A8B58 for Yellow Accent
*/


@font-face {
    font-family: "Noto Sans";
    src: url("../etc/NotoSans-Regular.ttf");
}

body {
    font-family: "Noto Sans", sans-serif;
    background: #EBE4D1;
    color: #393B3B;
    margin: 0;
    font-size: 16px;
    text-align: justify;
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    background-image: url("../images/heroimg.png");
    background-size: contain;
    box-sizing: content-box;
    margin: 0;
    width: 100%;
}

#header-logo {
    width: 100px;
    height: auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgba(235, 228, 209, 0.7);
}

#banner-text, #banner-subtext {
    text-shadow: 2px 2px;
    margin: 0;
    box-sizing: content-box;
}

#banner-text {
    font-size: 64px;
    padding: 3% 3% 0 3%;
    margin-left: -5%;
}

#banner-subtext {
    font-size: 32px;
    padding-bottom: 3%;
    margin-left: -5%;
}

#banner-text-small {
    text-shadow: 2px 2px;
    box-sizing: content-box;
    font-size: 56px;
    padding: 3% 3% 3% 3%;
    margin: 0 0 0 -5%;
}

main {
    margin: 1%;
    box-sizing: content-box;
    float: left;
    width: 83%;
}

nav ul {
    list-style: none;
}

nav li {
    margin: 10% 0;
}

nav {
    margin: 1% 0;
    width: 15%;
    height: 100vh;
    float: left;
    background: #FFCD00;
    padding-bottom: 50vh;
}

.body-image {
    width: 300px;
    height: auto;
}

.large-image {
    width: 500px;
    height: auto;
}

footer {
    clear: both;
    width: 100%;
    height: 10%;
    background: #9A8B58;
    box-sizing: content-box;
    margin: 0;
    padding: 1% 0;
    text-align: center;
}

footer h3 {
    margin-top: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

a:link {
    color: #393B3B;
}

a:hover {
    color: #EBE4D1;
}

a:visited {
    color: #9A8B58;
}

section {
    float: left;
    text-align: center;
}

.section-3 {
    width: 33%;
}

.section-2 {
    width: 50%;
}

.center-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.clear-float {
    clear: both;
}

h2 {
    padding: 3% 0;
}

.center-text {
    text-align: center;
}

#contact-wrapper {
    font-family: 'Arial', sans-serif;
    background-color: #EBE4D1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#contact-body {
    margin: 2% auto;
    background-color: #EBE4D1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 50%;
}

#copy {
    color: #393B3B;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

h2 {
    color: #393B3B;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

legend {
    font-size: 18px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:invalid {
    border-color: #900;
    background-color: #FDD;
}

textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 0;
}

#submitBtn {
    margin-top: 5%;
}

.button {
    width: 100%;
    background-color: #FFCD00;
    color: #393B3B;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #9A8B58;
}

.error-message {
    color: #e74c3c;
    font-size: 12px;
    text-align: left;
    display: block;
    margin-top: 5px;
    margin-bottom: 1%;
}

.error {
    border-color: #e74c3c;
}

#backBtn {
    top: 10px;
    left: 10px;
}

#top-navbar {
    text-align: center;
    color: #FFCD00;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    min-height: auto;
    height: 15%;
}

#top-navbar a {
    display: inline-block;
    padding: 0 2%;
}

.product-item {
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    float: left;
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-item h3 {
    margin: 0 0 10px 0;
}

.product-item p {
    margin: 0 0 10px 0;
}

.product-item button {
    background-color: #FFCD00;
    color: #393B3B;
    padding: 10px;
    border: none #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #9A8B58;
}

#shopping-cart {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    float: right;
}

#checkout-button {
    background-color: #FFCD00;
    color: #393B3B;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#checkout-button:hover {
    background-color: #9A8B58;
}

.cart-button {
    float: right;
    margin-left: -50%;
}

.cart-button img {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
}

.white-popup .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.white-popup .cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.white-popup .cart-item .item-details {
    flex-grow: 1;
}

.white-popup .cart-item .item-details .item-name {
    font-weight: bold;
}

.white-popup .cart-item .item-details .item-price {
    color: #666;
}

.white-popup .cart-item .item-quantity {
    width: 50px;
    text-align: center;
}

.white-popup .cart-total {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}

.product-item button {
    background: #FFCD00;
    color: #393B3B;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.product-item button:hover {
    background: #9A8B58;
}

.product-item button.added {
    background: #4CAF50;
}

.white-popup {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #EBE4D1;
    border-left: 1px solid #9A8B58;
    border-radius: 0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.15);
    width: 500px;
    height: 100vh;
    overflow-y: auto;
    color: #393B3B;
    font-family: "Noto Sans", sans-serif;
}

.white-popup h2 {
    text-align: center;
    color: #393B3B;
}

.white-popup .checkout {
    background-color: #FFCD00;
    color: #393B3B;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

.white-popup {
    width: 500px !important;
}

.white-popup table {
    width: 100%;
    border-collapse: collapse;
}

.white-popup th, .white-popup td {
    padding: 10px;
    text-align: left;
}

.white-popup th {
    background-color: #9A8B58;
    color: #EBE4D1;
}

.white-popup td {
    border-top: 1px solid #ddd;
}

.checkout:hover {
    background-color: #9A8B58;
}

button.mfp-close {
    color: #FF6347;
    font-size: 32px;
    transition: color 0.3s ease;
}

button.mfp-close:hover {
    color: #FF4500;
}

p.cart-empty {
    font-size: 20px;
    color: #808080;
    text-align: center;
}

body.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

main img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.merch {
    flex-direction: row;
}

.small-image {
    max-width: 20%;
    height: auto;
}

@media screen and (max-width: 760px) {
    #banner-text-small {
        font-size: 32px;
    }

    nav {
        height: 15%;
    }

    #top-navbar a {
        display: block;
        padding: 10px;
        clear: both;
    }

    .cart-button {
        float: none;
        margin-left: 0;
    }

    .product-item {
        width: 100%;
    }

    body {
        font-size: 14px;
    }

    main p {
        margin-right: 2%;
        margin-left: 2%;
    }

    .product-item img {
        max-width: 100%;
        height: auto;
    }

    .white-popup {
        width: 100% !important;
    }

    #item-listing {
        display: block;
    }

    .product-item {
        margin: auto;
    }

    #contact-body {
        width: 90%;
    }

    input, textarea {
        width: 100%;
    }

    #submitBtn, .button {
        width: 100%;
    }

    #banner-text {
        font-size: 32px;
        margin: 0;
    }

    #banner-subtext {
        font-size: 16px;
        text-shadow: none;
        margin: 0;
    }

    #banner-text-small {
        font-size: 32px;
        margin: 0;
    }

    #header-logo {
        display: none;
    }

    nav {
        width: 100%;
        padding-bottom: unset;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    nav li {
        margin: 5% 0;
    }

    main {
        width: 100%;
    }

    .section-3 {
        width: 100%;
    }

    .section-2 {
        width: 100%;
    }

    #item-listing * {
        text-align: center;
    }
}

@media screen and (max-width: 760px) and (orientation: portrait) {
    .small-image {
        display: none;
    }
}